<div class="container">
    <div class="row">
        <div class="col-md-3 mx-auto my-5" *ngFor="let u of dados">
            <div class="card h-100 ">
                <img class="card-img-top" src="assets/download.jpg" alt="Card image cap">
                <h4 class="card-header">{{ u.nome }}</h4>
                <div class="card-body">
                    <p class="card-text">{{ u.descricao }}</p>
                    <p class="card-text">{{ u.preco }}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Compre Agora</a>
                </div>
            </div>
        </div>
    </div>
</div>

