<h1 class="mt-4 mb-5 text-center">{{ textoH1 }}</h1>

<form [formGroup]="produtos" (submit)="onCadastrar()">
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="exampleFormControlInput1">Nome do Produto</label>
    <input type="text" class="form-control" placeholder="Escreva o nome" formControlName="nome">
  </div>
  <div class="form-group col-md-6 ">
    <label for="exampleFormControlInput1">Preço</label>
    <input type="text" class="form-control" placeholder="Escreva o preço" formControlName="preco">
  </div>
  
</div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descrição</label>
    <input type="text"class="form-control" placeholder="Descreva o produto" formControlName="descricao">
  </div>

  <button type="submit" class="btn btn-block btn-primary">{{ textoBotao}}</button>

</form>