<p grifarParagrafo>Teste de diretiva</p>
<div class="text-center">
<input type="button" class="btn-secondary m-5 btn-lg disabled" [class.disabled]="isHabilitado" [value]="mostrartexto">
<input type="button" class="btn-secondary m-5 btn-lg disabled" (click)="inverte()" value="Inverter">
</div>  


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Rede Social</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios">
        <th scope="row">{{u.id}}</th>
        <td>{{u.email}}</td>
        <td>{{u.telefone}}</td>
        <td>{{u.redesocial}}</td>
      </tr>
      <app-usuariodetalhe *ngIf= "pokemonSelecionado != null" [pokemonDetalhe]= "pokemonSelecionado"></app-usuariodetalhe>
    <!--Pokemons!!!-->  
  </table>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th  scope="col">Nome</th>
        <th scope="col">Url</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of pokemons.results">
        <td>{{u.name}}</td>
        <td>{{u.url}}</td>
        <td><a href= "#card" (click)="selecionarPokemon(u.url)">Ver detalhes</a></td>
      </tr>
      
  </table>
  <div class="text-center">
    <input type="button" class="btn-danger btn-lg mb-4 btn-block" value= "Proxima pagina" (click)="proximaPagina()">
    <select class="form-control form-control mb-4" #limit (change)="trocarLimit(limit.value)">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    </select>
  </div>
  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Salario</th>
        <th scope="col">idade</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of user.data">
        <td>{{ u.id }}</td>
        <td>{{ u.employee_name }}</td>
        <td>{{ u.employee_salary }}</td>
        <td>{{ u.employee_age }}</td>
        <td><a [href]= "u.url" target="blank"></a></td>
      </tr>
      
  </table>

  <div class="text-center">
    <input type="button" class="btn-danger btn-lg mb-4 btn-block" (click)="proximaPagina()">
  </div>

  
  
    

  
  
