<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active">LOJA ANGULAR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" [hidden]="!esconderbotao()">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/usuarios/']" [hidden]="!esconderbotao()" >Cadastro de Usuarios</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/usuarios/usuario-list']" [hidden]="!esconderbotao()"> Lista de Usuarios</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/produtos/new']" [hidden]="!esconderbotao()" >Cadastro de Produtos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/produtos/produtos-list']">Lista de Produtos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/admin/home']" [hidden]="!esconderbotao()"> Dashboard</a>
        </div>
      </li>

    </ul>

    <div class="">
      <button [routerLink]="['/home']" routerLinkActive="active" (click)="desLogar()" class="btn btn-danger btn-sm mr-4">Sair</button>
    </div>

    <div class="">
      <button [routerLink]="['/login']" routerLinkActive="active" class="btn btn-success btn-sm">Login</button>
    </div>
  </div>
</nav>