<p>usuariodetalhe works!</p>
<div class="row d-flex justify-content-center">
<div id="card" class="card m-4" style="width: autorem;">
   <!--<img class="card-img-top" alt="Imagem de capa do card">!--> 
   <h5 class="card-title">Abilities</h5>
   <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">slot</th>
        <th scope="col">name</th>
        <th scope="col">url</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of pokemonDetalhe.abilities">
        <td>{{ u.slot }}</td>
        <td>{{ u.ability.name }}</td>
        <td>{{ u.ability.url }}</td>
        <td><a [href]= "u.url" target="blank"></a></td>
      </tr>
      
  </table>
    </div>
  </div>