        <div class="p-3 bg-dark mt-5" >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
        <nav class ="navbar navbar-fixed-bottom navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">CompreAki.com</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"> Home</a></li>
                        <li> <a href="#"> Sobre Nós </a></li>
                        <li ><a  [routerLink]="['/produtos']"> Produtos  </a>
                            
                        </li>
                        <li><a href="#"> Fale Conosco </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>