<form #meuForm="ngForm" (submit)="onSubmit(meuForm)" >
    
    <div class="form-group mt-5">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control " aria-describedby="emailHelp" placeholder="Enter email" name="emailInput" #emailInput="ngModel" 
      [(ngModel)]="emailModel" required 
      [class.is-invalid]="isError(emailInput)" 
      [class.is-valid]="isSuccess(emailInput)">
     </div>

     <app-show-erros [isErrorFilho]="isError(emailInput)" mensagem = "O email é obrigatorio" ></app-show-erros>

    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" placeholder="Password" name="senhaInput" #senhaInput="ngModel" [(ngModel)]="senhaModel" required
      [class.is-invalid]="isError(senhaInput)" 
      [class.is-valid]="isSuccess(senhaInput)">
      <small class="form-text text-muted">Nunca compartilhe sua senha com ninguém.</small>
    </div>

    <app-show-erros [isErrorFilho]="isError(senhaInput)" mensagem = "A Senha é obrigatorio"></app-show-erros>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" >
      <label class="form-check-label" for="exampleCheck1">Lembrar Senha</label>
    </div>
    <button type="submit" [disabled]='meuForm.valid == false' class="btn btn-primary mt-3 btn-block">Entrar</button>
  </form>